In [13]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [14]:
#Lendo arquivos...
dt_train = pd.read_csv("train.csv")
dt_test = pd.read_csv("test.csv")

In [21]:
dt_train.head()
#dt_test.head()
#display(dt_train)
#display(dt_test)

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [17]:
#Exclusao dos campos
dt_train.drop(['Name','Ticket','Cabin'], axis=1, inplace=True)
dt_test.drop(['Name','Ticket','Cabin'], axis=1, inplace=True)

In [25]:
#Factoring Data char 
new_dt_train = pd.get_dummies(dt_train)
new_dt_test  = pd.get_dummies(dt_test)

In [24]:
new_dt_train.head()
#new_dt_test.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,0,1,0,0,1
1,2,1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,1,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,1,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,0,1,0,0,1

In [34]:
#Verificando se existem campos nulos
new_dt_train.isnull().sum().sort_values(ascending=False).head(10)
#new_dt_test.isnull().sum().sort_values(ascending=False).head(10)

Embarked_S    0
Embarked_Q    0
Embarked_C    0
Sex_male      0
Sex_female    0
Fare          0
Parch         0
SibSp         0
Age           0
Pclass        0
dtype: int64

In [32]:
#Preenchendo os campos nulos com a media dos valores daquele campo
new_dt_train['Age'].fillna(new_dt_train['Age'].mean(),inplace=True)
new_dt_test['Age'].fillna(new_dt_test['Age'].mean(),inplace=True)
new_dt_test['Fare'].fillna(new_dt_test['Fare'].mean(),inplace=True)

In [39]:
#Separando Features x Target
X = new_dt_train.drop('Survived',axis=1)
Y = new_dt_train['Survived']

#print(X)

In [40]:
# Criacão do Modelo de ML (DecisionTree)
tree = DecisionTreeClassifier(max_depth=3, random_state=0)
tree.fit(X,Y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [42]:
#Verificação da acurácia do modelo
tree.score(X,Y)

0.8271604938271605

In [47]:
#Criando um data frame com o resultado dos dados...
dt_submission = pd.DataFrame()
dt_submission['PassengerId'] = new_dt_test['PassengerId']
dt_submission['Survived'] = tree.predict(new_dt_test)

In [48]:
#Criando arquivo CSV
dt_submission.to_csv('mldt_result.csv', index=False)